mat-toolbar {
  width: 100%;
  padding: 0 0 0 0;

  .container-fuid {
    padding-right: 0;
    padding-left: 0;
  }

  .row {
    margin: 0 0 0 0;
  }

  .col-1 {
    padding-right: 0;
    padding-left: 0;
  }
}
